.button{
    color: yellow;
  font-weight: bolder;
}

.div1
{
    background-color: rgb(31, 30, 30);
}

.bodydiv{
    background-color: rgba(9, 4, 4, 0.689);
}

h1{
    color: azure;
    font-weight: bolder;
}

h3{
    color: white;
}

h4
{
    color: yellow;
}