body{
    background-color:#191a1d ;
}

h2{
        color: white;
        border: 2px solid blue;
        height: 6vh;
        width: 3.5vw;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

a
{
    color: azure !important;
}

.pic
{
    height: 330px;
}
h1
{
    color: white;
}

.butt
{
    border-radius: 12px;
    height: 53px;
}