h1{
    color: black;
}

h1{
    color: navy;
}

h4{
    color: black;
}

h4{
    color: blue !important;
}

.para1
{
    background-color: skyblue;
    color: slateblue;
    height: 8vh;
    width: 21vw;
    padding: 21px;
    font-size: large;
}


.para2
{
    background-color: black;
    color: slategray;
    height: 3vh;
    width: 21vw;
    padding: 8px;
    font-size:medium;
    font-style: italic;
}