.box1
{
    height: 251px;
    width: 251px;
    background-color:cornsilk ;
    margin: 8px;
    padding: 12px;
    box-shadow: 6px 6px 12px gray;
    float: left;
}

.box2
{
    height: 251px;
    width: 251px;
    background-color:cornsilk ;
    margin: 8px;
    padding: 12px;
    box-shadow: 6px 6px 12px gray;
    float: left;
}

.box3
{
    height: 251px;
    width: 251px;
    background-color:cornsilk ;
    margin: 8px;
    padding: 12px;
    box-shadow: 6px 6px 12px gray;
    float: left;
}

h3{
    text-align: center;
}

.button1
{
    height: 20px;
    width: 150px;
    margin-right: 30px;
    margin-left: 42px;
    margin-top: 26px;
    border:1.2px solid yellow;
    background: -webkit-linear-gradient(orange,yellow);
}

.button2
{
    height: 20px;
    width: 150px;
    margin-right: 30px;
    margin-left: 42px;
    margin-top: 26px;
    border:1.2px solid blue;
    background: -webkit-linear-gradient(gray,blue);
}

.button3
{
    height: 20px;
    width: 150px;
    margin-right: 30px;
    margin-left: 42px;
    margin-top: 26px;
    border:1.2px solid green;
    background: -webkit-linear-gradient(gray,green);
}