body{
    background-image: conic-gradient(purple,pink, purple);
background-size: cover;
height: 100vh;
}

.img
{
    height: 210px;
    width: 230px;
}

h1{
    color: rgb(104, 25, 56);
}