h4
{
    text-align:left;
}

h2
{
    text-align:center;
}

h3
{
    text-align:center;
}



tr
{
    text-align:center;
}

img
{
    height:120px;
    width:120px;
}

.table
{
    border:2px solid purple;
    width:100%;
    padding:15px;
}
